body {
  margin: 0cm;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12pt;
  background-color: #121212;
}

.App-header {
  font-size: 10pt;
  background: #212121;
  color: rgb(255, 255, 255);
  padding: 0 1% 0 1%;
  display: flex;
  justify-content: space-between;
}

.sidebar{
    padding: 1rem;
    width: 10vw;
    height: 100vh;
    background-color: #192949;
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: rgb(214, 214, 214);
}

.sidebar button {
  margin-bottom: 0.5rem;
  height: 2rem;
  background-color: gainsboro;
  border: none;
  border-radius: 999rem;
  font-weight: 700;
  color: #212121;
}

.sidebar button:hover {
  background-color: #a7a7a7;
  transition: 0.25s;
}

.sidebar .room-button {
  width: 90%;
  align-self: flex-end;
}

.map-and-sidebar{
    background-color: #1b2e53;
    display: flex;
}

.map-body{
    color: #b6b6b6;
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 2%;
    align-items: center;
    justify-content: center;
}

.search-bar{
  padding-left: 1em;
  width: 15rem;  
  height: max;
  display: flex;
  margin: 0.75em;
  flex-direction: column;
}
